.nav__list {
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.nav__link {
  padding: 0.125rem 0.5rem;
  text-decoration: none;
  color: var(--text-primary);
  font-weight: var(--fw-semi-bold);
  font-size: var(--text-base);
}

.main-nav .nav__list-item:last-child .nav__link {
  padding-right: 0;
}

.nav__link:hover {
  color: var(--text-secondary);
  font-weight: var(--fw-bold);
}

.nav__link--active {
  color: var(--text-secondary);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  font-weight: var(--fw-bold);
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: transform 0.1s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}

.btn--primary {
  font-weight: var(--fw-bold);
  padding: 0.75rem 1.5rem;
}

.btn--secondary {
  color: var(--text-primary);
  padding-block: var(--spacing-100);
  font-weight: var(--fw-semi-bold);
}

.btn--secondary:hover {
  text-decoration: underline;
  text-underline-offset: var(--spacing-50);
  text-decoration-thickness: 2px;
}

.van-type {
  padding: 0.25rem 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

@media (min-width: 40rem) {
  .nav__list {
    gap: var(--spacing-300);
  }
}
