.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: transform 0.1s ease-in-out;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.btn--primary {
  background-color: #ff8c38;
  color: white;
}

.btn--primary:hover {
  transform: translate(1px, 1px);
}

.btn--full-width {
  width: 100%;
}

.btn--secondary {
  background-color: #161616;
  color: white;
}
