/* VAN LIST PAGE */
.van-list__page {
  padding-block: 4.5rem;
}

.van-list__page .heading {
  margin-bottom: 1.5rem;
}

.van-list {
  display: grid;
  gap: 2rem;
}

.van-image {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.van-name {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 31px;
}

.van-price {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 31px;
}

.van-price span {
  font-size: 0.875rem;
  font-weight: 300;
}

.van-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: var(--spacing-100);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-200);
  align-items: center;
  margin-bottom: var(--spacing-500);
}

.filter__btn {
  background-color: var(--orange-200);
  font-weight: var(--fw-regular);
}

.clear-filter-btn {
  margin-left: var(--spacing-200);
}

.filter__simple:hover {
  background-color: var(--clr-simple);
  color: var(--orange-200);
}

.filter__simple.filter__btn--selected {
  background-color: var(--clr-simple);
  color: var(--orange-200);
}

.filter__luxury:hover {
  background-color: var(--clr-luxury);
  color: var(--orange-200);
}

.filter__luxury.filter__btn--selected {
  background-color: var(--clr-luxury);
  color: var(--orange-200);
}

.filter__rugged:hover {
  background-color: var(--clr-rugged);
  color: var(--orange-200);
}

.filter__rugged.filter__btn--selected {
  background-color: var(--clr-rugged);
  color: var(--orange-200);
}

@media (min-width: 40rem) {
  .van-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter {
    gap: var(--spacing-300);
  }
}

@media (min-width: 80rem) {
  .van-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
