.host-vans__heading {
  margin-bottom: 2.5rem;
  color: var(--text-secondary);
}

.host-vans__list {
  display: grid;
  gap: 1rem;
}

.host-vans__card {
  display: flex;
  align-items: center;
  padding: 1.125rem 1.5rem;
  background-color: var(--white);
  gap: 1rem;
  border-radius: 6px;
}

.host-vans__card-image {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

.host-vans__card-title {
  font-size: var(--text-xl);
  font-weight: var(--fw-semi-bold);
  color: var(--text-secondary);
}

.host-vans__card-text {
  color: var(--text-primary);
  font-size: var(--text-base);
}

@media (min-width: 40rem) {
  .host-vans__card-image {
    width: 30%;
    height: 100%;
  }

  .host-vans__card-info {
    flex: 1;
  }

  .host-vans__card-title {
    font-size: var(--text-2xl);
  }

  .host-vans__card-text {
    font-size: var(--text-base);
  }
}

@media (min-width: 80rem) {
  .host-vans__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-300);
  }

  .host-vans__card {
    flex-direction: column;
    align-items: flex-start;
  }

  .host-vans__card-image {
    width: 100%;
    height: 100%;
  }
}
