.host-vans .heading {
  margin-bottom: 2.5rem;
}

.host-vans-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.host-van-card {
  display: flex;
  align-items: center;
  padding: 1.125rem 1.5rem;
  background-color: var(--white);
  gap: 1rem;
  border-radius: 6px;
}

.host-van-card__image {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}

.host-van-card__title {
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
  color: var(--text-primary);
}

.host-van-card__text {
  color: var(--text-secondary);
  font-size: 1rem;
}
