/* ABOUT PAGE */

.about__page {
  width: 100%;
}

.about__hero-image {
  object-fit: cover;
  width: 100%;
}

.about__page .heading {
  margin-bottom: 2rem;
}

.about__page-body {
  padding-block: 2.5rem;
}

.about__page-content {
  color: #161616;
  margin-bottom: 2.5rem;
}

.about__page-content p {
  margin-bottom: 1rem;
}

.about__page-cta {
  background-color: var(--orange-400);
  color: var(--text-secondary);
  padding: 1.5rem;
  border-radius: 6px;
}

.about__btn {
  background-color: var(--gray-900);
  color: var(--white);
}

.about__btn:hover {
  background-color: var(--gray-700);
}

.about__page-cta .sub-heading {
  margin-bottom: 1rem;
}
