.home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url('../../assets/images/home-hero.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  padding-block: var(--spacing-900);
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  place-items: center;
}

.home .main-heading {
  margin-bottom: var(--spacing-200);
}

.home p {
  line-height: 24px;
  margin-bottom: var(--spacing-500);
}

.home__btn {
  background-color: var(--orange-500);
  color: var(--white);
  width: 100%;
}

.home__btn:hover {
  background-color: var(--orange-700);
}

@media (min-width: 40rem) {
  .home__content {
    max-width: 550px;
    margin-inline: auto;
  }

  .home__content p {
    font-size: var(--text-lg);
    margin-bottom: var(--spacing-500);
  }
}
